<html>
  <head>
    <title>Test Facebook broadcast</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
    <!-- inside stylis -->
    <style>
      html,
      body {
        height: 100vh;
        margin: 0px;
        padding: 0px;
      }
      .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .container > * {
        margin-top: 5px;
      }

      .container .form {
        width: 500px;
      }

      #output {
        width: 500px;
        min-height: 100px;
        border-radius: 4px;
        border: solid 1px #ccc;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form class="form">
        <div class="form-group input-group-sm">
          <label>Tiêu đề</label>
          <input
            type="text"
            class="form-control"
            id="title"
            value="Hello"
            placeholder="Nhập tiêu đề"
          />
        </div>
        <div class="form-group input-group-sm">
          <label>Nội dung</label>
          <textarea
            class="form-control "
            id="content"
            rows="3"
            placeholder="Nhập nội dung tin nhắn bạn muốn gửi"
          >
My name is Long</textarea
          >
        </div>

        <div class="form-group">
          <button
            class="btn btn-sm btn-primary"
            type="button"
            onclick="sendBroadcastMessage()"
          >
            Gửi
          </button>
          <button
            class="btn btn-sm btn-primary"
            type="button"
            onclick="getInfo()"
          >
            Get info
          </button>
        </div>
      </form>
      <span>output</span>

      <pre id="output"></pre>
    </div>

    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/axios.min.js"></script>

    <script>
      const PAGE_ACCESS_TOKEN =
        'EAAF3jVsgN3cBAPwPwTZC5qKqIQx5g8dPD6oKHJHWmD0UztLL0ZAOsieXpDf6viRpJdXVrJLNWz0KaMoXa8z2oW4O6kUZAoICo37pZAl26ZAARfoVrsS6jy8Im6oEdEzYUuDl5FrQe9uH1uYCGPM5hggFS6toZASVlXVdFBbWab7GUEUx0qA3lFNrcGgtO3Xs0ZD';

      function getInfo() {
        const url = `https://graph.facebook.com/v4.0/me?fields=id,name&access_token=${PAGE_ACCESS_TOKEN}`;
        axios
          .get(url, {
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(response => {
            console.log(response);
          })
          .catch(error => {
            console.log({ error });
          });
      }

      function sendBroadcastMessage() {
        const title = document.getElementById('title').value;
        const content = document.getElementById('content').value;
        const data = {
          messages: [
            {
              attachment: {
                type: 'template',
                payload: {
                  template_type: 'generic',
                  elements: [
                    {
                      title: title,
                      image_url: 'https://www.facebook.com/jaspers.png',
                      subtitle: content,
                      buttons: [
                        {
                          type: 'web_url',
                          url: 'https://www.jaspersmarket.com',
                          title: 'View Website'
                        }
                      ]
                    }
                  ]
                }
              }
            }
          ]
        };
        // create broadcast message
        const url = `https://graph.facebook.com/v4.0/me/message_creatives?access_token=${PAGE_ACCESS_TOKEN}`;
        axios
          .post(url, data, {
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(response => {
            const message_creative_id = response.data.message_creative_id;
            const b = {
              message_creative_id: message_creative_id,
              //   notification_type: 'SILENT_PUSH',
              messaging_type: 'MESSAGE_TAG',
              tag: 'NON_PROMOTIONAL_SUBSCRIPTION'
            };
            const endpoint = `https://graph.facebook.com/v5.0/me/broadcast_messages?access_token=${PAGE_ACCESS_TOKEN}`;
            axios
              .post(endpoint, b, {
                headers: {
                  'Content-Type': 'application/json'
                }
              })
              .then(rs => {
                console.log(rs.data);
              })
              .catch(err => {
                console.log({ err });
              });
          })
          .catch(error => {
            console.log({ error });
          });
      }
    </script>
  </body>
</html>
